<div class="row">
<h1>Sign Up!</h1>
<div class="medium-6 column center">
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3>
			  Whoops!
			  <%= pluralize(@user.errors.count, "error")%>
			  prohibited you from creating an account:
			</h3>
			<ul>
			  <% @user.errors.full_messages.each do |message|%>
			  <li><%= message %></li>
			  <% end %>
			</ul>
		</div>
    <% end %>
	<div class="field">
		<%= f.label :first_name, "First Name"%>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirm Password" %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Sign Me Up!", :class => "button"%>
	</div>
<% end %>
</div>
</div>