<!--

#as an owner
#project.name 
#total amount of $ raised right now
#how many backers at each reward
#how many days are left


#as a backer

#want to see who owns the project
#all the projects I have backed
#total amount of $ I've spent on a project
#want to be notified when any projects meet their goal

-->

<h1>My Project Status:</h1>

<% current_user.owned_projects.each do |project| %>
<ul>
  <h3><%= project.name %></li><br><br>
  <li><%= project.description %></li><br>
  <li>Project Funding Goal:  <%= project.funding_goal %></li><br>
  
  <!-- we need to be able to look up the project_id in the pledges db for a particular project - need to add project_id to pledges db --> 
  <!-- total amount of pledged for the project -->
  <!-- number of backers at each reward -->
  <li>Time Remaining to Pledge:  <%= distance_of_time_in_words(Time.now, project.end_date) %></li> 
</ul>
  <% end %>

<h1>Projects backed:</h1>

<% current_user.backed_projects.each do |project| %>
<ul>
  <h3><%= project.name %></li><br><br>
  <li><%= project.description %></li><br>
  <li><%= project.owner_id[:Users][:first_name][:last_name] %></li><br>
  <li>Project Funding Goal:  <%= project.funding_goal %></li><br>
  <li>Amount Pledged:  <%=  %></li><br>
</ul>
  <% end %>



