<h1>Crowdfunder!</h1>

<h3>Popular Projects</h3>

	<% @project.each do |project| %>
		<div id="homeprojects">
		  <h4><%= project.name %></h4>
		  <p>
			  by <%= project.owner.first_name %> <%= project.owner.last_name %> </br>
			  <%= project.description %> </br>
			  Pledged: (not defined yet)</br>
			  Days to go: <%= (project.end_date - project.start_date).to_i %></br>
		  </p>
		</div>
	<% end %>

<h3>Find a Project</h3>
<p>Category Names will be listed here!</p>
<%= form_tag projects_path, method: :get, remote: true, authentication: false, id: 'search-form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>