
<%= form_for(@project, html: {multipart: true}) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  <div>
    <%= f.label :funding_goal %>
    <%= f.number_field :funding_goal %>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>

  <p>Rewards</p>
  <div id="rewards">
    <%= f.fields_for :rewards do |reward| %>
    <%= render 'reward_fields', :f => reward %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add a Reward', f, :rewards %>
    </div>
  </div>
  <%= f.submit :submit %>
<% end %>