
<%= form_for(@project, html: {multipart: true}) do |f| %>
  <% if @project.errors.any? %>
      <div id="error_explanation">
        <h3>
          Whoops!
          <%= pluralize(@project.errors.count, "error")%>
          prohibited this project from being saved:
        </h3>
        <ul>
          <% @project.errors.full_messages.each do |message|%>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  <div class="field">
    <%= f.label :funding_goal, "Funding Goal" %>
    <%= f.number_field :funding_goal %>
  </div>
  <div class="field">
    <%= f.label :start_date, "Project Start Date"%>
    <%= f.date_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date, "Project End Date"%>
    <%= f.date_field :end_date %>
  </div>
    <div class="field">
      <%= f.label :avatar, "Upload a Project Photo" %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>
    <div class="field">
    <%= f.label :category %>
    <%= f.select :category, Project.select_categories %>
    </div>

    <p>Rewards</p>
    <div id="rewards">
      <%= f.fields_for :rewards do |reward| %>
      <%= render 'reward_fields', :f => reward %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add a Reward', f, :rewards %>
      </div>
    </div>
    <%= f.submit :submit %>
<% end %>