<div class="nested-fields">
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>

<div>
  <%= f.label :backer_limit %>
  <%= f.text_field :backer_limit %>
</div>

<%= link_to_remove_association "Remove Reward", f %>

</div>