<h1><%= @project.name %></h1>
<% if current_user == @project.owner %>
	<%= link_to "Edit this Project", edit_project_path %> | 
	<% if @project.amount_raised == 0 %>
	<%= link_to "Delete this Project", @project, data: {confirm: "Are you sure you want to delete this project?"}, :method => :delete %>
	<% end %>
<% end %>

<div id="project_info">
	<%= render @project %>
</div>

<h3>Rewards</h3>
<p></p>

<% @project.rewards.each do |reward| %>
  <p><%= reward.title %> </p>
  <p>What do ya get? <%= reward.description %></p>
 	<button>
		<p class= "pledge_button">I'M IN! Pledge $<span><%= reward.amount %></span>!</p>
	</button>
<% end %>