<h1><%= @project.name %></h1>
<% if current_user == @project.owner %>
	<%= link_to "Edit this Project", edit_project_path %>
	<% if @project.amount_raised == 0 %>
	| <%= link_to "Delete this Project", @project, data: {confirm: "Are you sure you want to delete this project?"}, :method => :delete %>
	<% end %>
<% end %>

<div id="project_info">
	<%= render @project %>
</div>

<h3>Rewards</h3>
<p></p>

<% @project.rewards.each do |reward| %>
  <p>PLEDGE <%= number_to_currency reward.amount %></p>
  <p><%= reward.title %> </p>
  <p>What do ya get? <%= reward.description %></p>
  <p><%= reward.number_of_backers %> backers</p>

 	<button data-pledge-url="<%= project_reward_pledges_path(@project, reward) %>"
		    class= "pledge_button">
				I'M IN! Pledge $ <span><%= reward.amount %></span>!
	</button>



<!-- check -->
<!-- http://code.tutsplus.com/tutorials/using-unobtrusive-javascript-and-ajax-with-rails-3--net-15243 -->
<!-- <td> link_to 'pledge2', post, :confirm => 'Are you sure you want to pledge?', :method => :post, :remote=>true, :class=>'pledge2' %></td> -->


<% end %>