<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav">
		<%= link_to 'Home', root_path %> |
		<%= link_to 'Start', new_project_path %> |
		<%= link_to 'Discover', projects_path %> |
		<% if current_user %>
				<%= link_to 'Profile', user_path(current_user.id) %> |
				<%= link_to 'Logout', :logout, method: :post %>
			<% else %>
				<%= link_to 'Register', new_user_path %> |
				<%= link_to 'Login', :login %>
		<% end %>
	</div>
	
	<div>
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>
	

<%= yield %>

<p class="userinfo">
     <% if current_user %>
       Signed in as <%= current_user.first_name.capitalize %>. <%= link_to "Log out", :logout, method: :post %>
     <% else %>
       <%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_path %>
     <% end %>
</p>

</body>
</html>
