<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Crowdfunder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href="<%= root_path %>">CROWDFUNDER</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
      			<li><%= link_to 'Start', new_project_path %></li>
      			<li><%= link_to 'Discover', projects_path %> </li>
      		</ul>
      		<ul class="right">
      			<% if current_user %>
      				<li><a href="#">Signed in as <%= current_user.first_name.capitalize %></a></li>
      				<li><%= link_to 'Profile', user_path(current_user.id) %></li>
   			 		<li><%= link_to 'Logout', :logout, method: :post %></li>
   			 	<% else %>
					<li><%= link_to 'Sign Up', new_user_path %></li>
					<li><%= link_to 'Login', :login %></li>
				<% end %>
   			 </ul>
		</section>
	</nav>
	<div class="row">
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>

    <%= yield %>


  </body>
</html>
